<!DOCTYPE html>
<html>
  <head>
    <title>Nybkpost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <p>
        Validate your XHTML: 
        <a href="https://validator.w3.org/check?uri=referer" target="_blank">XHTML Validation</a>
    </p>

  </body>
</html>
